.end {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.start {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.flex {
  display: flex;
  width: 80%;
  margin: 5px;
  align-items: center;
  justify-content: space-evenly;
}

.page {
  background-color: rgb(238, 229, 224);
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.freshPage {
  background-color: rgb(238, 229, 224);
  height: 93%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.blue {
  background-color: rgb(92, 162, 233);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  color: white;
  font-weight: 500;
}

.gray {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  color: black;
  font-weight: 500;
}

.column {
  display: flex;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
}

.columnWhite {
  display: flex;
  background-color: white;
  justify-content: center;
}

.message {
  width: fit-content;
  max-width: 100%;
}

.centerBlue {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centeredInputContainer {
  display: flex;
  justify-content: center;
  /* Centers the input horizontally */
  align-items: center;
  flex-grow: 1;
  /* Centers the input vertically if needed */
  height: 100%;
  /* Full height of the parent container */
}

.inputCenter {
  text-align: center;
  width: 100%;

  box-sizing: border-box;
}

.centerEnd {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 90%;
}

.centerBeginning {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerGray {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  font-size: 12px;
  font-weight: 500;
  color: rgb(112, 111, 111);
}

.blueEnd {
  display: flex;
  padding-right: 10px;
  justify-content: flex-end;
  width: 90%;
}

.grayEnd {
  display: flex;
  justify-content: flex-start;
  width: 70%;
}

.blueDot {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background-color: rgb(63, 134, 196);
  border-radius: 20px;
}

.smallGray {
  font-size: 12px;
  color: rgb(103, 102, 102);
}

.something {
  border: 1px solid rgb(205, 197, 197);
  border-radius: 30px;
  font-size: 16px;
  width: 100%;
  height: fit-content;
  max-height: 40px;
  padding-left: 12px !important;
  /* margin-right: 3px; */
  padding: 8px;
}

.something textarea::placeholder {
  line-height: 0px;
}

.blueDotNothing {
  height: 13px;
  margin-left: 14px;
  background-color: none;
  border-radius: 20px;
}

.space {
  min-height: 200px;
}

.none {
  display: none;
}

.text-input {
  text-align: center;
}

.flexTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.noneBack {
  --background: none;
  --box-shadow: none;
  --padding-start: 0;
  --padding-end: 0;
}
